@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Reem+Kufi');

/* General Styling */

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 44px;
}

h1, h2, h3, h4 {
    font-family: 'Reem Kufi', sans-serif;
}

.btn {
    transition: all 0.5s ease 0s;
}

p.tagline {
    font-style: italic;
    text-align: center;
}

.center-block {
    margin: 0 auto;
    display: block;
}

.img-responsive {
    max-width: 100%;
}


/*Navbar Styling */

@keyframes dropNav {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.navbar {
    background-color: rgba(22, 25, 26, 0.8);
    padding: 10px 0;
    -moz-box-shadow: 0px 5px 25px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 25px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 25px 15px rgba(0, 0, 0, 0.5);
    animation-name: dropNav;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

.navbar-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.navbar-centered>.navbar-brand>img {
    display: flex;
    align-items: center;
    max-width: 75px;
    position: absolute;
    bottom: -25px;
}

.nav-item {
    color: #EEEEEE;
    padding: 0 20px;
}


/*Header Syling */

header {
    background: #16191A url('../media/img/griffin-logo-big.png') no-repeat;
    background-position: left 600px bottom -450px;
    color: #EEEEEE;
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
}

header>.container {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
}

header .row {
    min-height: 85%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 85vh;
    /* These two lines are counted as one :-)       */
}

header h1 {
    font-size: 4em;
}

header ul {
    list-style: none;
}

header ul li {
    font-size: 1.5em;
}

header .btn {
    margin-top: 20px;
    margin-left: 40px;
}

.social-links {
    padding-bottom: 10%;
}

.social-links i {
    color: #EEEEEE;
    padding: 0 20px;
    transition: all 500ms ease-out;
}

.social-links i.fa-linkedin-square:hover {
    color: #0077B5;
}

.social-links i.fa-github-square:hover {
    color: #afafaf;
}

.social-links i.fa-twitter:hover {
    color: #00aced;
}

.social-links i.fa-instagram:hover {
    color: #9b6954;
}


/* Section Styling */

section {
    padding: 50px 0;
}

section h1, h2, h3, h4 {
    text-align: center;
}

.center-text {
    text-align: center;
    margin: 0 auto;
}


/* About Styling */

section#about {
    background: url('../media/img/bg/wall-desk.jpg') top center;
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
}

.about-pic {
    width: 400px;
    -moz-box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.about-btns {
    text-align: center;
}

.about-btns .btn {
    margin: 10px;
}

.currently {
    padding-top: 2em;
}

.currently span {
    font-weight: bold;
}


/*Skills/Services Styling */

section#skills {
    background: #16191A;
    color: #EEEEEE;
}

section#skills h4 {
    margin-bottom: 10px;
}

.tagline {
    padding-bottom: 20px;
}

.lang-row {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

#prof>h4 {
    border-bottom: medium solid #5cb85c;
}

#inter>h4 {
    border-bottom: medium solid #0275d8;
}

#adv>h4 {
    border-bottom: medium solid #d9534f;
}

.slide-down {
    opacity: 0;
    transition: all 500ms ease-out;
}

.slide-down.in-view {
    opacity: 1;
}

#inter .slide-down {
    -webkit-transition-delay: 400ms;
    /* Safari */
    transition-delay: 400ms;
}

#adv .slide-down {
    -webkit-transition-delay: 800ms;
    /* Safari */
    transition-delay: 800ms;
}


/*Work Styling */

section#work {
    background: #EEE;
}

section#work div {
    text-align: center;
}

.work-carousel {
  background: #EEE;
  height: 400px;
}

.carousel-cell {
  width: 33%;
  height: 100%;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-cell img{
    width: 100%;
}

.carousel-cell a{
    text-decoration: none;
}

.carousel-cell p{
    padding-top: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #00aced; 
}

@media (max-width: 768px ) {
  .carousel-cell{
      width: 50%;
  }
}

@media (max-width: 500px ) {
  .carousel-cell{
      width: 100%;
  }
}

/* Instafeed */
section#instafeed-block{
    background: linear-gradient(#EEE 70%, #16191A);
}
#instafeed{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
#instafeed a img{
    padding: 10px;
    background-color: #16191A;
    transition: all 0.5s ease;
    margin: 5px 0;
}
#instafeed a img:hover{
    box-shadow: 5px 5px #16191A;
}



/* Contact Styling*/

section#contact {
    background: #16191A;
    color: #EEEEEE;
}

section#contact .btn {
    text-align: center;
}

pre {
    max-width: 800px;
    margin: 0 auto !important;
    display: block;
}
